<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>List Of Registered Users !</title>
    <link rel="stylesheet" href="css/show-users.css">
  </head>
  <body>
    <header>
      <h1>All Appointments!</h1>
    </header>
    <button type="button" id="show-users">Show Users</button>
    <section class="container">
      <ul id="users"></ul>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="js/show-users.js"></script>
  </body>
</html>